body {
	background-color: #f0ffff;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}

header {
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

.navbar {
	border: none;
	line-height: 0;
	/*background-color: #124f6b;*/
	/*padding: 0;*/
}

#header-bigger-container {
	margin: 0;
	padding: 0;
	width: 100%;
}

#header-trpezoid {
	width: 100%;
	background-color: #f0ffff;
	height: 75px;
  	border-bottom: 75px solid transparent;
  	border-left: 0px solid #124f6b;
    border-top: none;
    border-right: none;
}

#header-container {
	float: none;
	text-align: center;
	background-color: #124f6b;
	margin: 0;
	padding: 0;
	width: 100%;
}

#header-container h1 {
	font-weight: bold;
	color: #9fd0ed;
	margin-top: 30px;
}

#header-wave {
	width: 100%;

}
/*****************end of header*********************/

/***************side buttons**************/
#facebook-container {
	position: fixed;
	top: 340px;
	left: 0;
}

#facebook-container div {
	display: inline;
}

.follow-img {
	width: 48px;
	position: absolute;
	left: 0;
	top: 2px;
	margin-left: 0;
	z-index: 5;
}

.facebook-logo {
	width: 50px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(0);
	transition: all .2s ease;
	z-index: 6;
}

.facebook-logo:hover, .facebook-logo:active {
	top: -8px;
	left: 8px;
	transform: rotate(60deg);
	cursor: pointer;
}

#labSite-container {
	position: fixed;
	top: 265px;
	left: 0;
}

#home-button-container {
	position: fixed;
	top: 200px;
	left: 0;
}

#home-button-container img {
	background-color: #7AADF2;
	border-radius: 100px;
}

.small-button-logo {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	transition: width .2s, top .2s, height .2s;
	z-index: 5;
}

.small-button-logo:hover, .small-button-logo:active {
	width: 60px;
	height: 60px;
	top: -5px;
	cursor: pointer;
}
/*****************end of side buttons****************/

#about-container {
	margin-top: -30px;
	margin-bottom: 30px;
	line-height: 1.5;
}

#about-container h2 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
}

#about-content p span {
	font-weight: bold;
}

#about-content .about-link, #about-content .about-link:visited {
	color: #124f6b;
	text-decoration-line: none;
	font-weight: bold;
}

#about-content .about-link:hover, #about-content .about-link:active {
	color: #9fd0ed;
	text-decoration-line: none;
	cursor: pointer;
}

.button-container {
	padding: 20px 20px 30px 20px;
	position: relative;
}

.button {
	position: relative;
	background-color: #7AADF2;
	padding: 20px;
	text-align: center;
	border-radius: 15px;
	bottom: 0;
	transition: bottom 0.4s ease;
	z-index: 1;
}

.button-content {
		font-size: 1em;
	}

.button-sign {
	position: absolute;
	left: -20px;
	top: -20px;
	padding: 20px;
	border-radius: 100px;
	background-color: #9fd0ed;
	font-size: 2em;
	color: #000;
}

.button-img {
	position: absolute;
	left: -20px;
	top: -20px;
	width: 70px;
	height: 70px;
	border-radius: 100px;
	border: 2px solid #7AADF2;
}

.button:hover, .button:active {
	bottom: 25px;
	cursor: pointer;
}

.button h3 {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
	color: #000;
	font-size: 1.7em;
}

.button-container hr {
	background-color: #7AADF2;
	height: 1px;
	position: absolute;
}

.first-line {
	width: 75%;
	bottom: 26px;
	left: 12.5%;
}

.second-line {
	width: 60%;
	bottom: 18px;
	left: 20%;
}

.third-line {
	width: 45%;
	bottom: 10px;
	left: 27.5%;
}

/*#buttons-row {
	width: 100%;
}*/

/*#buttons-row img {
	margin-bottom: 30px;
}*/

/*#buttons-row .for-padding {
	padding: 15px;
}

#buttons-row .for-padding div {
	background-color: #d1d1d1;
	border-radius: 20px;
	text-align: center;
	padding: 10px;
	transition: 1.5s background-color;
	cursor: pointer;
}

#buttons-row .for-padding div:hover, #buttons-row .for-padding div:active {
	background-color: #000;
}

#buttons-row div h3 {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
	color: #000;
	transition: 0.8s color;
}

#buttons-row div span {
	font-weight: bold;
	color: #000;
	transition: 0.8s color;
}

#buttons-row .for-padding div:hover h3, #buttons-row .for-padding div:active h3 {
	color: #fff;
}

#buttons-row .for-padding div:hover span, #buttons-row .for-padding div:active span {
	color: #fff;
}*/

/*#buttons-row .for-padding {
	padding: 15px;
}

#buttons-row .for-padding div {
	background-image: url(../images/websiteRound_gray.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 100%;

	text-align: center;
	padding: 20px;
	transition: 1.5s background-image;
	cursor: pointer;
}

#buttons-row .for-padding div:hover, #buttons-row .for-padding div:active {
	background-image: url(../images/websiteFlower_gray.png);
}

#buttons-row div h3 {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
	color: #000;
}

#buttons-row div span {
	font-weight: bold;
	color: #000;
}*/

/*#main-content {
	margin-bottom: 100px;
}*/

/*#myClearfix {
	width: 100px;
	clear: both;
}*/

/*#buttons-row .for-padding {
	padding: 15px;
}

#buttons-row .for-padding div {
	text-align: center;
	padding: 20px;
	cursor: pointer;
	border: 6px solid #d1d1d1;
	transition: 0.7s border-color;*/
	/*transition-duration: 0.7s;*/
	/*transition-delay: 0.7s;*/
	/*transition-property: border-color, background-color;*/
	/*transition-property: border-color, box-shadow;*/
/*}*/

/*#buttons-row .for-padding div img {
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 3;
	top: -10px;
	left: 0px;
}*/

/*#buttons-row > div {
	position: relative;
}

.hide-border-1, .hide-border-3 {
	width: 50%;
	height: 8px;
	background-color: #f0ffff;
	position: absolute;
	transition: 0.7s width;
}

.hide-border-1 {
	right: 25%;
	top: 14px;
}

.hide-border-3 {
	left: 25%;
	bottom: 14px;
}

.hide-border-2, .hide-border-4 {
	width: 8px;
	height: 50%;
	background-color: #f0ffff;
	position: absolute;
	transition: 0.7s height;
}

.hide-border-2 {
	bottom: 25%;
	right: 14px;
}

.hide-border-4 {
	top: 25%;
	left: 14px;
}

#buttons-row .for-padding div:hover, #buttons-row .for-padding div:active {
	border-color: #000;
	/*background-color: #ADD8E6;*/
	/*box-shadow: 0 0 15px #000;*/
/*}*/

/*#buttons-row .for-padding div:hover .hide-border-1, #buttons-row .for-padding div:hover .hide-border-3, #buttons-row .for-padding div:active .hide-border-1, #buttons-row .for-padding div:active .hide-border-3 {
	width: 0;
}*/

/*#buttons-row .for-padding div:hover .hide-border-2, #buttons-row .for-padding div:hover .hide-border-4, #buttons-row .for-padding div:active .hide-border-2, #buttons-row .for-padding div:active .hide-border-4 {
	height: 0;
}*/

/*#buttons-row div h3 {*/
	/*margin-top: 0;*/
	/*margin-bottom: 10px;*/
	/*font-weight: bold;*/
	/*color: #000;*/
	/*font-size: 1.8em;*/
/*}*/

/*#buttons-row div span {*/
	/*font-weight: bold;*/
	/*color: #000;*/
	/*font-size: 0.7em;*/
/*}*/

/*#buttons-row div span.no-initials {
	font-size: 1.2em;
	display: inline-block;
	height: 100%;
}*/

/**********buttons color***********/
/*#buttons-row .for-padding div#button-1 {
	border-color: #f6cd8b;
}

#buttons-row .for-padding div#button-1:hover, #buttons-row .for-padding div#button-1:active {
	border-color: #b68d4b;
}

#buttons-row .for-padding div#button-2 {
	border-color: #02075d;
}

#buttons-row .for-padding div#button-2:hover, #buttons-row .for-padding div#button-2:active {
	border-color: #00001d;
}

#buttons-row .for-padding div#button-3 {
	border-color: #02075d;
}

#buttons-row .for-padding div#button-3:hover, #buttons-row .for-padding div#button-3:active {
	border-color: #00001d;
}

#buttons-row .for-padding div#button-4 {
	border-color: #02075d;
}

#buttons-row .for-padding div#button-4:hover, #buttons-row .for-padding div#button-4:active {
	border-color: #00001d;
}

#buttons-row .for-padding div#button-5 {
	border-color: #acace6;
}

#buttons-row .for-padding div#button-5:hover, #buttons-row .for-padding div#button-5:active {
	border-color: #6c6ca6;
}

#buttons-row .for-padding div#button-6 {
	border-color: #acace6;
}

#buttons-row .for-padding div#button-6:hover, #buttons-row .for-padding div#button-6:active {
	border-color: #6c6ca6;
}

#buttons-row .for-padding div#button-7 {
	border-color: #acace6;
}

#buttons-row .for-padding div#button-7:hover, #buttons-row .for-padding div#button-7:active {
	border-color: #6c6ca6;
}

@media (max-width: 768px) {
	#buttons-row .for-padding div#button-4 {
		border-color: #acace6;
	}

	#buttons-row .for-padding div#button-4:hover, #buttons-row .for-padding div#button-4:active {
		border-color: #6c6ca6;
	}

	#buttons-row .for-padding div#button-6 {
		border-color: #9b2948;
	}

	#buttons-row .for-padding div#button-6:hover, #buttons-row .for-padding div#button-6:active {
		border-color: #5b0008;
	}

	#buttons-row .for-padding div#button-7 {
		border-color: #9b2948;
	}

	#buttons-row .for-padding div#button-7:hover, #buttons-row .for-padding div#button-7:active {
		border-color: #5b0008;
	}
}*/

/*#buttons-row .for-padding div#button-3 {
	border-color: #acace6;
}

#buttons-row .for-padding div#button-3:hover, #buttons-row .for-padding div#button-3:active {
	border-color: #6c6ca6;
}

#buttons-row .for-padding div#button-4 {
	border-color: #9b2948;
}

#buttons-row .for-padding div#button-4:hover, #buttons-row .for-padding div#button-4:active {
	border-color: #5b0008;
}*/
/**********buttons color end***********/

/*****************questionnaires pages*********************/
h2#questionnaire-title {
	font-weight: bold;
	color: #9fd0ed;
	font-size: 1.5em;
	margin-bottom: 10px;
	margin-top: 0;
	padding: 0 20px 0 20px;
}

#header-container div {
	display: inline-block;
}

#header-container img {
	width: 8%;
	margin-top: -2%;
	margin-right: 10px;
}

h3.questionnaire-part-title {
	text-align: center;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

#about-container img {
	/*width: 30%;*/
	float: left;
	padding: 3px 10px 1px 0;
	border-radius: 500px;
}

#about-container div {
	/*margin: auto 0 auto 0;*/
}

#language-title {
	margin-top: 0;
}

#languages-container {
	width: 50%;
	float: right;
	position: relative;
	margin-top: 0;
	padding-left: 0 0 20px 10px;
}

.language-padding {
	padding: 20px;
	text-align: center;
}

.language-center {
	display: inline-block;
}

.language-flag {
	background-color: #9fd0ed;
	height: 0;
	float: left;
	padding: 10px 15px 10px 10px;
	border-radius: 20px 0 0 20px;
}

.language-flag img {
	height: 100%;
}

.language-name {
	float: left;
	position: relative;
	background-color: #124f6b;
	padding: 10px 10px 10px 15px;
	border-radius: 0 20px 20px 0;
	color: #fff;
}

.language-trapezoid {
	position: absolute;
	width: 0;
	background-color: #9fd0ed;
	height: 40px;
  	border-top: 40px solid transparent;
  	border-right: 20px solid #124f6b;
    border-bottom: none;
    border-left: none;
    bottom: 0;
    left: -10px;
}

.saparate-line {
	height: 100px;
	width: 2px;
	background-image: linear-gradient(#000, #f0ffff);
	border-radius: 10px;
	position: absolute;
	left: 20px;
	top: 0;
}

#publications-list {
	margin-top: 20px;
	padding: 0 20px 0 20px;
	overflow-wrap: break-word;
}

#publications-list li {
	margin-bottom: 20px;
}
/*****************end of questionnaires pages*********************/

/*****************footer*********************/
#footer {
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
	background-color: #f0ffff;
	line-height: 0;
	font-family: 'Quicksand', sans-serif;
	/*position: fixed;*/
	bottom: 0;
}

#footer-trpezoid {
	width: 100%;
	background-color: #f0ffff;
	height: 75px;
  	border-top: 75px solid transparent;
  	border-right: 0px solid #9fd0ed;
    border-bottom: none;
    border-left: none;
}

#footer-container {
	background-color: #9fd0ed;
	width: 100%;
	margin: 0;
	padding-bottom: 5px;
	line-height: 1.45;
}

#footer div {
	text-align: center;
	color: #124f6b;
}

#nir-logo {
	/*width: 10%;*/
}

#footer-wave {
	width: 100%;
	height: 100%;
}
/*****************end of footer*********************/

/*********************media queries*********************/

/*********************extra small devices only*********************/
@media(max-width: 768px) {
	#languages-container {
		width: 100%;
		float: none;
	}

	#publications-container {
		float: none;
	}

	#nir-logo {
		width: 20%;
	}

	#about-container img {
		width: 30%;
	}
}
/*********************end of extra small devices only*********************/

/*********************small devices only*********************/
@media (min-width: 769px) and (max-width: 991px) {
	#nir-logo {
		width: 14%;
	}

	#about-container img {
		width: 25%;
	}
}
/*********************end of small devices only*********************/

/*********************medium devices only*********************/
@media (min-width: 992px) and (max-width: 1199px) {
	#nir-logo {
		width: 9%;
	}

	#about-container img {
		width: 20%;
	}
}
/*********************end of medium devices only*********************/

/*********************large devices only*********************/
@media (min-width: 1200px) {
	#nir-logo {
		width: 6%;
	}

	#about-container img {
		width: 17%;
	}
}
/*********************end of large devices only*********************/

@media(max-width: 500px) {
	.button-sign {
		left: -20px;
		top: -20px;
		padding: 15px;
		font-size: 1.5em;
	}

	#about-container img {
		width: 50%;
	}
}

@media(max-width: 400px) {
	.button h3 {
		font-size: 1.3em;
	}
	.button-content {
		font-size: 0.8em;
	}
}

@media(max-width: 430px) {
	#languages-container div.col-xs-6 {
		width: 100%;
	}
}

@media(max-width: 475px) {
	.button-img {
		width: 60px;
		height: 60px;
	}
}

@media(max-width: 400px) {
	.button-img {
		width: 50px;
		height: 50px;
	}
}
/*********************end of media queries*********************/