body {
	background-color: #f0ffff;
}

.navbar {
	border: none;
	background-color: #124f6b;
	padding: 0;
}

#header-bigger-container {
	margin: 0;
	padding: 0;
	width: 100%;
}

#header-container {
	float: none;
	text-align: center;
	background-color: #124f6b;
	margin: 0;
	padding: 0;
	width: 100%;
}

#header-container h1 {
	font-weight: bold;
	color: #9fd0ed;
	margin-top: 30px;
}

#header-wave {
	width: 100%;
}

#footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
	background-color: #fff;
}

#footer-container {
	background-color: #d1d1d1;
	width: 100%;
	margin: 0;
	padding-bottom: 20px;
}

#footer div {
	text-align: center;
}

#footer-wave {
	width: 100%;
	height: 100%;
}